@import "tailwindcss";
@font-face {
  font-family: 'Tesla';
  src: url('/font/Tesla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --transition-custom-tesla-ease: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-tesla-ease {
  transition-timing-function: var(--transition-custom-tesla-ease);
}


body{
    height: 500vh;
}

@layer utilities {
    /* hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* firefox */
    }
}